---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import Navigation from "@/components/react/Navigation";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate } = Astro.props;

const projects = (await getCollection("project")).sort(
  (a, b) => a.data.order.valueOf() - b.data.order.valueOf()
);
---

<html lang="en">
  <head>
    <BaseHead {title} {description} />
  </head>

  <body>
    <Navigation {projects} client:load />
    <main class="flex justify-center py-8 px-4 md:py-24">
      <article class="flex-1 max-w-2xl prose dark:prose-invert">
        <div>
          {pubDate && <FormattedDate date={pubDate} />}
          {
            updatedDate && (
              <div>
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
          <h1>{title}</h1>
          <hr />
        </div>
        <slot />
      </article>
    </main>
  </body>
</html>
