---
import type { CollectionEntry } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/react/Navigation";
import Gallery from "@/components/react/Projects/gallery";
import ProjectFooter from "@/components/react/Projects/footer";

type Props = CollectionEntry<"project">["data"];

const { title, description, color, showGallery, offsetAmount } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {title} {description} />
  </head>

  <body>
    <Navigation client:load />
    <main class="flex justify-center py-8 px-4 md:py-24">
      <article class="flex-1 prose dark:prose-invert max-w-none">
        <div>
          <div class="flex justify-center">
            <div class="pb-24 space-y-1">
              <h1 class="uppercase md:4xl mb-3">{title}</h1>
              <div style={{ backgroundColor: color }} class="h-1 w-full"></div>
            </div>
          </div>
          {showGallery && <Gallery client:load />}
        </div>
        <div class="flex justify-center py-12">
          <div class="max-w-2xl">
            <slot />
          </div>
        </div>
      </article>
    </main>
    <ProjectFooter {title} {color} {offsetAmount} client:load />
  </body>
</html>
